{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}

{% block stylesheets %}
<style>
    td.disabled.disabled-date.day {
        color: red !important;
    }
</style>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}
<div class="mx-auto col border border-black m-5 p-3">


    {{form_start(form)}}
    <div class="row p-3">

        <div class="col"> {{form_row(form.startDate)}}</div>
        <div class="col">{{form_row(form.endDate)}}</div>
    </div>
    <div class="m-3">
        <h4>Montant du séjour : <span id="amount">0</span> &euro;</h4>
        <span id="days">0</span> nuit(s) à {{annonce.price}} / nuit

    </div>
    Vous avez un commentaire ?
    {{form_widget(form)}}



    {{form_end(form)}}
</div>

{% endblock %}

{% block javascripts %}
<span class="data-price" data="{{ annonce.price }}"></span>
<span class="data-boucle" data="{% for day in annonce.NotAvailableDays %}
                                {{ day.format('d/m/Y') }},
                                {% endfor %}



"></span>



<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    let boucle = $('span.data-boucle').attr("data");;
    let datas = '{{ annonce.price }}';
    $(document).ready(function () {
        $('#booking_startDate, #booking_endDate').datepicker({
            format: 'dd/mm/yyyy',
            datesDisabled: boucle,
            startDate: new Date()
        });
        console.log('hello' + boucle);
        startDate: new Date();
        $('#booking_startDate, #booking_endDate').on('change', calculateAmount);

    });


    function calculateAmount() {
        // On chope les dates
        const endDate = new Date(
            $('#booking_endDate')
            .val()
            .replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1')
        );

        const startDate = new Date(
            $('#booking_startDate')
            .val()
            .replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1')
        );

        if (startDate && endDate && startDate < endDate) {
            const DAY_TIME = 24 * 60 * 60 * 1000;

            const interval = endDate.getTime() - startDate.getTime();
            const days = interval / DAY_TIME;
            const amount = days * datas;

            $('#days').text(days);
            $('#amount').text(amount.toLocaleString('fr-FR'));
            console.log('data price : ' + datas);

        }
    }
</script>

{% endblock %}