{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}


<div class="row mt-3">

      <div class="col">
<div class="card text-white bg-secondary dark mb-3 text-center">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <i class="fas fa-hotel fa-3x"></i>
            </div>
            <div class="col-8">
                <h4 class="card-title">{{stats.user}} users</h4>
            </div>
        </div>
    </div>
</div>
      </div>
    <div class="col">
<div class="card text-white bg-info mb-3 text-center">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <i class="fas fa-hotel fa-3x"></i>
            </div>
            <div class="col-8">
                <h4 class="card-title">{{stats.annonce}} annonces </h4>
            </div>
        </div>
    </div>
</div>

    </div>
    <div class="col">
        <div class="card text-white bg-warning  mb-3 text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <i class="fas fa-folder fa-3x"></i>
                    </div>
                    <div class="col-8">
                        <h4 class="card-title">{{stats.booking}} books</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
              <div class="card text-white bg-success mb-3 text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <i class="fas fa-comments fa-3x"></i>
                    </div>
                    <div class="col-8">
                        <h4 class="card-title">{{stats.comment}} avis</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="alert alert-success">
            <h2 class="alert-heading my-3"> <i class="fas fa-arrow-up"></i> Les annonces populaires</h2>
            <table class="table table-hover text-white">
                <thead>
                    <tr>
                        <th>Annonce</th>
                        <th>Proprio</th>
                        <th>Moyenne</th>
                    </tr>
                </thead>
                <tbody>
                      {% for annonce in bestAnnonce %}
                    <tr>
                      
                            
                      
                        <th>{{annonce.title}}</th>
                        <th><img src="{{annonce.picture}}" height="50px" width="50px" alt="">{{annonce.firstName}}</th>
                        <th class="text-center"> <span class="badge badge-dark">
                            {{annonce.note|number_format(1, ",", " ")}}
                        </span></th>
                     
                    </tr>
                         {% endfor %}
                </tbody>


            </table>
        </div>
    </div>
    <div class="col">
<div class="alert alert-danger">
            <h2 class="alert-heading my-3"> <i class="fas fa-arrow-down"></i> Les pires annonces </h2>
            <table class="table table-hover text-white">
                <thead>
                    <tr>
                        <th>Annonce</th>
                        <th>Proprio</th>
                        <th>Moyenne</th>
                    </tr>
                </thead>
                <tbody>
                      {% for annonce in worstAnnonce %}
                    <tr>
                      
                            
                      
                        <th>{{annonce.title}}</th>
                        <th><img src="{{annonce.picture}}" height="50px" width="50px" alt="">{{annonce.firstName}}</th>
                        <th class="text-center"> <span class="badge badge-dark">
                            {{annonce.note|number_format(1, ",", " ")}}
                        </span></th>
                     
                    </tr>
                         {% endfor %}
                </tbody>


            </table>
        </div>


    </div>
</div>

</div>












{% endblock %}
